<div class="container">
    <!-- Content -->
    <article class="box post">
        <header>
            <h2>About Us</h2>
            <p>Our job is to make solving your problems a piece of cake.</p>
        </header>
        <p>
            Established in summer of 2021, Piece of Cake Solutions, LLC is a company founded by a group of friends who
            are united in their love for working with technology and helping others.
        </p>
        <section>
            <header>
                <h3>Our Mission</h3>
            </header>
            <p>
                We strive to deliver exactly what is needed to make our customers successful at the best price possible,
                eliminating any uneccessary cost or time from being wasted.
            </p>
        </section>
        <section>
            <header>
                <h3>Meet the team</h3>
            </header>
            <mat-card *ngFor="let employee of employees" class="mat-elevation-z0">
                <mat-card-header>
                    <div mat-card-avatar class="employee-avatar" style="background-image: url('{{employee.avatarUrl || defaultAvatarUrl}}');"></div>
                    <mat-card-title>{{employee.name}}</mat-card-title>
                    <mat-card-subtitle *ngIf="employee.title !== undefined">{{employee.title}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{employee.backgroundInfo}}
                    </p>
                    <h4 *ngIf="employee.interests && employee.interests.length > 0">Interests</h4>
                    <p>
                        <mat-chip-list>
                            <mat-chip class="tag" *ngFor="let interest of employee.interests">{{interest}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    
                    <h4 *ngIf="hasSocialMedia(employee)">Social</h4>
                    <p class="social">
                        <a *ngIf="employee.email !== undefined" href="mailto:{{employee.email}}"><i class="fas fa-at fa-2x"></i></a>
                        <a *ngIf="employee.linkedin !== undefined" href="{{employee.linkedin}}"><i class="fab fa-linkedin fa-2x"></i></a>
                        <a *ngIf="employee.twitter !== undefined" href="{{employee.twitter}}"><i  class="fab fa-twitter fa-2x"></i></a>
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    </article>
</div>