mat-card{
    margin-bottom: 2em;
    border-bottom-style: inset;
}
mat-card-content {
    margin-top: 1em;
}
.social>a {
    color: black;
    margin: 0 5px
}
mat-chip {
    font-size: .8em;
}
h3 {
    font-size: 2em;
}