<div class="container">

    <!-- Content -->
    <article class="box post">
        <a href="#" class="image featured"><img src="assets/images/pic01.jpg" alt="" /></a>
        <header>
            <h2>About Us</h2>
            <p>Our job is make solving your problem a piece of cake.</p>
        </header>
        <p>
            Established in summer of 2021, Piece of Cake Solutions, LLC is a company founded bya group of friends who are united in their love for working with technology and helping others.
        </p>
        <section>
            <header>
                <h3>Our Mission</h3>
            </header>
            <p>
                We strive to deliver exactly what is needed to make our customers successful at the best price possible, eliminating any uneccessary cost or time from being wasted.
            </p>
        </section>
        <section>
            <header>
                <h3>Meet the team</h3>
            </header>
            <p>Jeff Morrell</p>
            <p>Derek Spiner</p>
            <p>Joshua Paredes</p>
            <p>Michael Bratton</p>
            <p>Joshua Fisk</p>
            <p>Brandon Kerth</p>
        </section>
    </article>
</div>