<div class="col-12">
    <!-- Blog -->
    <section>
        <header class="major">
            <h2>From the blog</h2>
        </header>
        <div class="row">
            <div class="col-6 col-12-small" *ngFor="let post of blogPosts">
                <section class="box">
                    <a href="#" class="image featured"><img src="assets/images/pic08.jpg" alt="" /></a>
                    <header>
                        <h3>{{post.title}}</h3>
                    </header>
                    <section [innerHTML]="post.summary"></section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{post.link || '#'}}" class="button icon solid fa-file-alt">Read</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
        </div>
    </section>
</div>