<div id="page-wrapper">

    <!-- Header -->
    <section id="header">
        <!-- Logo -->
        <h1><a [routerLink]="['home']">{{title}}</a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a [routerLink]="['home']">Home</a></li>
                <li><a [routerLink]="['about']">About</a></li>
                <li><a [routerLink]="['blog']">Blog</a></li>
                <li><a [routerLink]="['contact']">Contact</a></li>
                <li>
                    <a [routerLink]="['services']">Services</a>
                    <ul>
                        <li>
                            <a [routerLink]="['services/3d']">3D</a>
                            <ul>
                                <li>
                                    <a href="#">Request a print quote</a>
                                    <a href="#">Schedule a design session</a>
                                    <a href="#">Frequently asked questions</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a [routerLink]="['services/it']">IT</a>
                            <ul>
                                <li>
                                    <a href="#">Request an over the phone consultation</a>
                                    <a href="#">Managed IT services</a>
                                    <a href="#">Frequently asked questions</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Banner -->
        <section id="banner" *ngIf="isHome()">
            <header>
                <h2>Have your cake and eat it too</h2>
                <p>Solving problems one slice at a time</p>
            </header>
        </section>

        <!-- Intro -->
        <section id="intro" class="container" *ngIf="isHome()">
            <div class="row">
                <div routerLink="/services/it" class="col-4 col-12-medium">
                    <section class="first">
                        <i class="icon solid featured fa-bolt"></i>
                        <header>
                            <h2>IT Training</h2>
                        </header>
                        <p>Supercharge your teams with focused training.</p>
                    </section>
                </div>
                <div routerLink="/services/3d" class="col-4 col-12-medium">
                    <section class="middle">
                        <i class="icon solid featured alt fa-cog"></i>
                        <header>
                            <h2>3D Printing and Design</h2>
                        </header>
                        <p>Bring your ideas to life with prototyping.</p>
                    </section>
                </div>
                <div routerLink="/services/managed" class="col-4 col-12-medium">
                    <section class="last">
                        <i class="icon solid featured fa-desktop"></i>
                        <header>
                            <h2>Managed IT Services</h2>
                        </header>
                        <p>Let us run the robots while you get the cake.</p>
                    </section>
                </div>
            </div>
            <footer>
                <ul class="actions">
                    <li><a [routerLink]="['contact']" class="button large">Contact Us</a></li>
                    <li><a [routerLink]="['services']" class="button alt large">Learn More</a></li>
                </ul>
            </footer>
        </section>

    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 col-6-medium col-12-small">
                    <section>
                        <header>
                            <h2>Top IT Links</h2>
                        </header>
                        <ul class="divided">
                            <li>
                                <a href="#">Enhance your product delivery pipeline with these 5 DevOps practices.</a>
                            </li>
                            <li>
                                <a href="#">Top 5 reasons you should be building infrastructure as code.</a>
                            </li>
                            <li>
                                <a href="#">Getting started with Piece of Cake managed services.</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-4 col-6-medium col-12-small">
                    <section>
                        <header>
                            <h2>Top 3D Links</h2>
                        </header>
                        <ul class="divided">
                            <li>
                                <a href="#">3 essential tricks to fine tune your prints!</a>
                            </li>
                            <li>
                                <a href="#">Ultimate list of 3D prints for beginners.</a>
                            </li>
                            <li>
                                <a href="#">Design your own cake toppers with FreeCAD.</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-6-medium col-12-small">
                    <section>
                        <header>
                            <h2>Contact Info</h2>
                        </header>
                        <ul class="social">
                            <li><a class="icon brands fa-instagram" href="https://www.instagram.com/pieceofcakesolutionsco/"><span class="label">Instagram</span></a></li>
                        </ul>
                        <ul class="contact">
                            <li>
                                <h3>Mail</h3>
                                <p><a href="#">getcakesolutions@gmail.com</a></p>
                            </li>
                            <li>
                                <h3>Phone</h3>
                                <p>(214) 2187385</p>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-12">

                    <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; {{title}}. All rights reserved.</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>