<div class="page-wrapper">
  <mat-toolbar color="accent">
    <section class="header-wrapper">
      <section class="logo"><span class="title">{{title}}</span></section>
      <span class="spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </section>
  </mat-toolbar>
  <div class="main-wrapper">
    <section>
      <h1>Page Title</h1>
      <p>Page content!</p>
    </section>
  </div>
  <mat-toolbar>
    <section class="footer-wrapper">
      <span><a href="mailto:getcakesolutions@gmail.com">Contact Us</a></span>
    </section>
    
  </mat-toolbar>
</div>