<div class="page-wrapper">
  <mat-toolbar color="accent">
    <section class="header-wrapper">
      <section class="logo"><span class="title">{{title}}</span></section>
      <span class="spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </section>
  </mat-toolbar>
  <div class="main-wrapper">
    <section class="main-content">
      <header>
        <h1>Home</h1>
      </header>
      <div>
        <h2>Who are we?</h2>
        <p>A group of engineering and IT professionals providing quality services in Information Technology and 3D Printing and design industries.</p>
        <p>Our job is to make solving your problems a piece of cake!</p>
        <h2>From the Blog</h2>
        <mat-card *ngFor="let post of blogPosts">
          <mat-card-title>
            {{post.title}}
          </mat-card-title>
          <mat-card-content [innerHTML]="post.content">
          </mat-card-content>
        </mat-card>
      </div>

    </section>
  </div>
  <mat-toolbar>
    <section class="footer-wrapper">
      <span><a href="mailto:getcakesolutions@gmail.com">Contact Us</a></span>
    </section>

  </mat-toolbar>
</div>