.page-wrapper {
    display: flex;
    flex-direction: column;
}
.main-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.main-wrapper section {
    padding: 1em;
}
.header-wrapper {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.footer-wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.title {
        flex: 1 1 auto;
        text-align: center;
}
button {
    height: 100%;
}
.spacer {
    flex: 1 1 auto;
}
mat-card {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-top: 1rem;
}
a {
    text-decoration: none;
    color: #222
}