<div class="container">
    <!-- Content -->
    <article class="box post">
        <header>
            <h2>Piece of Cake Services</h2>
            <p>Here's a list of things we can help you with</p>
        </header>
        <section>
            <h3>Additive Manufacturing (3D printing)</h3>
            <p>Additive manufacturing, commonly referred to as 3D printing, makes protyping parts and designs rapid and
                affordable.</p>
            <p>With 3D printing it is possible to utilize a wide variety of material types suitable for specific needs
                of the parts. Printing starts with a design, the model of whatever you want to print. Once you have
                something to print, there are many factors that can determine what material is right for the job. There
                are hundreds of different types of materials that can be used in the 3D printing process. Hard plastics,
                soft materials, water dissolvable, even chocolate!</p>
            <p>We are here to make the process a piece of cake and help you enable success faster.</p>
            <p>Contact us today to see how we can make your design and printing needs a Piece of Cake!</p>
            <button>Contact for 3D Printing</button>
        </section>
        <section>
            <h3>Technical Training</h3>
            <p>Technology is fast paced and constantly revolutionizing itself. New tools and patterns are being
                developed every year that make others ineffecient or obsolete. DevOps, Cloud and software defined
                datacenters and infrastructure as code are all areas of knowledge that any modern technology group
                should be familiar and or profficient in. As companies venture into these new technologies it can be
                daunting to discover, let alone implement and scale them in a resonsible and secure way.</p>
            <p>We are here to join forces with the world as it transitions to these new technologies and provide
                resources and experience to make the process a piece of cake.</p>
            <p>Being experienced IT professionals we also understand that training an ogranization is not an easy task.
                We are here to offer a variety of approaches to getting the help you deserve and need.</p>
            <ul>
                <li>IaC - Empower your Cloud and Learn Infrastructure as Code with Pulumi</li>
                <li>DevOps - Enhance your application deployments with Github DevOps practices</li>
                <li>Powershell Automation - Learn to automate your tasks with PowerShell.</li>
            </ul>
            <button>Contact for Technical Training</button>
        </section>
        <section>
            <h3>Managed IT Services</h3>
            <p>Almost every business in 2021 has some form of technology footprint that their business relies on to
                operate. This could be a website, back of office applications, file storage, etc. All of these items can
                add up quickly and become a burden to manage as a small business owner looking to scale.</p>
            <p>Partnering with us can make managing your technical problems a piece of cake.</p>
            <button>Contact for Managed Services</button>
        </section>
    </article>
</div>